
@{
    ViewBag.Title = "Learn";
}

<div style="padding-top:70px">

<ul class="cards" style="
    width: 80%;
    margin: 0 auto;
">
    
    <li>

        <a class="image_container" href="../scripts/blockly/bird.html"><i class="fa fa-puzzle-piece"></i></a>
        <span class="content">
            <h2>
                <a href="http://jquerycards.com/other/standalone-widgets/medium-editor/">Lost Bird</a>
            </h2>
            <p><i class="fa fa-puzzle-piece"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore </p>
        </span>
        <span class="content_bottom">

            <a class="show_login_popup" href="http://jquerycards.com/collections"><span class="icon-heart"></span></a>



        </span>
    </li>
    <li>

        <a class="image_container" href="../scripts/blockly/puzzle.html"><span class="ionic ion-stats-bars"></span></a>
        <span class="content">
            <h2>
                <a href="http://jquerycards.com/ui/scrolling/clusterize-js-2/">Puzzle</a>
            </h2>
            <p>a voluptas sit aspernatur aut odit aut fugit, sed quia cor mag</p>
        </span>
        <span class="content_bottom">

            <a class="show_login_popup" href="http://jquerycards.com/collections"><span class="icon-heart"></span></a>



        </span>
    </li>
    <li>

        <a class="image_container" href="../scripts/blockly/maze.html"><span class="ionic ion-pound"></span></a>
        <span class="content">
            <h2>
                <a href="http://jquerycards.com/ui/scrolling/smartscroll/">Programatic Maze</a>
            </h2>
            <p>ue laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Ne</p>
        </span>
        <span class="content_bottom">

            <a class="show_login_popup" href="http://jquerycards.com/collections"><span class="icon-heart"></span></a>



        </span>
    </li><li>

        <a class="image_container" href="../scripts/blockly/pond-basic.html"><span class="ionic ion-pound"></span></a>
        <span class="content">
            <h2>
                <a href="http://jquerycards.com/ui/scrolling/smartscroll/">Battle Ship</a>
            </h2>
            <p>uptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro q</p>
        </span>
        <span class="content_bottom">

            <a class="show_login_popup" href="http://jquerycards.com/collections"><span class="icon-heart"></span></a>



        </span>
    </li>
    <li>

        <a class="image_container" href="../scripts/blockly/turtle.html"><span class="ionic ion-load-c"></span></a>
        <span class="content">
            <h2>
                <a href="http://jquerycards.com/media/images/lazy-load-xt-2/">Fussy Turtle</a>
            </h2>
            <p>sectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaera</p>
        </span>
        <span class="content_bottom">

            <a class="show_login_popup" href="http://jquerycards.com/collections"><span class="icon-heart"></span></a>



        </span>
    </li>
    <li>

        <a class="image_container" href="../scripts/blockly/movie.html"><span class="ionic ion-android-image"></span></a>
        <span class="content">
            <h2>
                <a href="http://jquerycards.com/other/animation-effects/favico-js/">Coding Geometry</a>
            </h2>
            <p>uasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,</p>
        </span>
        <span class="content_bottom">

            <a class="show_login_popup" href="http://jquerycards.com/collections"><span class="icon-heart"></span></a>



        </span>
    </li>
  
    <span class="clear"></span>
</ul>
</div>